<form action="/users/addstudents" method="POST" class="form">
    <div class="batch">
        <p class="batch">Name : <input type="text" name="name" required></p>
    </div>

    <div class="batch">
        <p class="batch">Batch : <input type="text" name="batch" required></p>
    </div>
    <div class="batch">
        <p class="batch">College name : <input type="text" name="college" required></p>
    </div>
    <div class="batch">
        <p class="">Employment Status : <select name="status"> <option>Placed</option> <option>Not Placed</option></select> </p>
    </div>
    <div class="batch">
        <p class="batch">Course score : <input type="number" name="score" required> </p>
    </div>
    <div class="batch">
        <p class="batch">Company name : <input type="name" name="company" required> </p>
    </div>
    <div class="batch">
        <p class="">Results : <select name="results"> <option>Passed</option> <option>Failed</option><option>On Hold</option><option>Didn’t Attempt</option></select> </p>
    </div>
    <input type="submit" value="Submit">
</form>